$primary-font-color: #212833;
$primary-button-color: linear-gradient(180deg, #f8d12f 0%, #f0b90b 100%);
$primary-white: #ffffff;
$secondary-background: #f1f1f1;
$border-color: #cfd2d4;
$primary-dark-color: #0b0e11;
$gold-text: #c99400;