$primary-font-color: #212833;
$primary-button-color: linear-gradient(180deg, #f8d12f 0%, #f0b90b 100%);
$primary-button-hover-color: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);;
$primary-white: #ffffff;
$secondary-background: #f1f1f1;
$text-grey: #707A8A;
$border-color: #cfd2d4;
$primary-dark-color: #0b0e11;
$gold-text: #c99400;
$black-text:#212833;
$hover-color: rgb(245, 245, 245);